﻿@{
    ViewData["Title"] = "Histórico de Vendas";
}

<h2>@ViewData["Title"]</h2>
<div class="row">
    <div class="col-md-6">
        <form class="form-horizontal" asp-action="Periodo">
            <hr />
            <fieldset>
                <legend>Período</legend>
                <div class="form-group">
                    <label for="minDate" class="col-lg-2 control-label">Data inicial</label>
                    <div class="col-lg-5">
                        <input type="date" name="minDate" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="maxDate" class="col-lg-2 control-label">Data final</label>
                    <div class="col-lg-5">
                        <input type="date" name="maxDate" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-5 col-lg-offset-2">
                        <button type="submit" class="btn btn-primary" style=" margin-top: 10px">Enviar</button>
                    </div>
                </div>
                <hr />
            </fieldset>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <form class="form-horizontal" asp-action="Departamento">
            <fieldset>
                <legend>Departamento</legend>
                <div class="form-group">
                    <label for="minDate" class="col-lg-2 control-label">Data inicial</label>
                    <div class="col-lg-5">
                        <input type="date" name="minDate" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="maxDate" class="col-lg-2 control-label">Data final</label>
                    <div class="col-lg-5">
                        <input type="date" name="maxDate" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-5 col-lg-offset-2">
                        <button type="submit" class="btn btn-primary" style="margin-top:10px">Enviar</button>
                    </div>
                </div>
                <hr />
            </fieldset>
        </form>
    </div>
</div>